<h1 align="center">Welcome to the Help Page</h1>
<h3>Here you will find a guide to the systems functionalities</h3>

<h4>Along the top menu bar, the following buttons will:</h4>

<ul>
    <li><strong>All Records:</strong> show a list of all the student records</li>
    <br>
    <li><strong>Find Record:</strong> route to the find record page</li>
    <br>
    <li><strong>Help:</strong> show this help page</li>
</ul>
<br>
<h4>Within the individual record page, the following buttons will:</h4>
<ul>
    <li><strong>Save:</strong> saves any changes made to the student record</li>
    <br>
    <li><strong>Undo:</strong> rollback the last change made to the record</li>
    <br>
    <li><strong>First Record:</strong> go to the first student record</li>
    <br>
    <li><strong>Previous Record:</strong> go to the record previous to the current record</li>
    <br>
    <li><strong>Next Record:</strong> go to the record after the current record</li>
    <br>
    <li><strong>Last Record:</strong> go to the last student record</li>
  </ul>
<br>

